In [1]:
from packages1 import *
import bs4 as bs
import requests
import numpy as np
import pandas as pd
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb

/Users/ahmed/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
tickers = []

In [3]:
tickers = ticker_extractor(tickers)

In [4]:
from datetime import datetime, timedelta

# setting start date and the end date 
current_date = datetime.now()
end_date = current_date - timedelta(days=1)
start_date = current_date - timedelta(days=7)

# Format the start date as a string
start_date_str = start_date.strftime("%Y-%m-%d")
current_date_str = current_date.strftime("%Y-%m-%d")
end_date_str = end_date.strftime("%Y-%m-%d")

In [5]:
#  downloading the data 
data = yf.download(tickers, start=start_date, end=current_date_str)

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-03-17 17:26:23.352446 -> 2024-03-24)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [6]:
# deleting all failed data 
data = data.dropna(axis=1)

In [7]:
# seperating data so that its easy to interpret 
adj_close_df = data['Adj Close'].copy()
open_df = data['Open'].copy()
close_df = data['Close'].copy()
high_df = data['High'].copy()
low_df = data['Low'].copy()

In [8]:
#  Now creting a list of tickers that are available in the data frame
tickers = data['Adj Close'].columns.tolist()

In [9]:
# Now creating a list of dates for the dates available in the data frame
dates = close_df.index.tolist()

In [10]:
dates2 = []
for i in dates:
    dates2.append(str(i).replace('Timestamp','').replace('00:00:00','').replace(' ',''))

In [11]:
dates2

['2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22']

In [12]:
list_of_returns = []
list_of_returns = returns_calculator(tickers, dates2, close_df, open_df, list_of_returns)

In [13]:
returns_df = pd.DataFrame.from_dict(list_of_returns)

In [19]:
print("The following list of stocks is the ones with the best returns:")
# creating a data frame of the stocks with the best returns for the past week.
returns_df = returns_df.sort_values(by='stock_returns', ascending=False)

returns_df.head(5)

print("The following list of stocks generated the worst losses:")

returns_df.tail(5)

The following list of stocks is the ones with the best returns:
The following list of stocks generated the worst losses:

    ticker_name stock_returns stock_%returns
474        VTRS        $-0.03         %-0.25
456         UDR        $-0.03         %-0.08
488         WRK        $-0.02         %-0.04
429         TAP        $-0.02         %-0.03
103         CNP        $-0.01         %-0.04

In [15]:
volatility_of_each_stock = []

volatility_of_each_stock = stock_volatility_calculator(volatility_of_each_stock, dates2, tickers, close_df, open_df)

In [17]:
#  creating a datafram for the volatility


volatility_df = pd.DataFrame.from_dict(volatility_of_each_stock)

# volatility_df

print("The following list of stocks is the most volatile stocks:")

volatility_df = volatility_df.sort_values(by='Stock_Volatility', ascending=False)

volatility_df.head(5)

The following list of stocks is the most volatile stocks:

    Stock_Ticker  Stock_Volatility
358         PARA              7.19
411         SMCI              5.35
244           IP              4.75
190          FMC              3.48
202          GIS              3.06

In [20]:
print(f'The following analysis is for the s&p 500 stocks from  {dates2[0]} to {dates2[4]}')

The following analysis is for the s&p 500 stocks from the 2024-03-18 to 2024-03-22