In [1]:
print('hello world')

hello world

In [16]:

        

python_students = [['Harry', 37.21], ['Tina', 37.2], ['Berry', 37.21],['Akriti', 41], ['Harsh', 39]]

list_1 = []

dict_1 = {'student_name':'','student_score':''}

for items in python_students:
    dict_1['student_name'] = items[0]
    dict_1['student_score'] = items[1]
    list_1.append(dict_1)
    dict_1 = {'student_name':'','student_score':''}

sorted_list = sorted(list_1, key=lambda d: d['student_score'], reverse=True)
list_of_scores = []
for items in sorted_list:
    list_of_scores.append(items['student_score'])

second_highest = sorted_list[-2]
second_highest_score = sorted_list[-2]['student_score']
print(second_highest_score)

second_list = []

if list_of_scores.count(second_highest_score) > 1:
     for items in sorted_list:
         if items['student_score'] == second_highest['student_score']:
             second_list.append(items['student_name'])
        
     print(second_list)
else:
    print (second_highest['student_name'])

37.21
Harry

In [31]:
def second_highest_function(list_1):
    dict_1 = {'student_name':'','student_score':''}
    student_list = []

    for items in list_1:
        dict_1['student_name'] = items[0]
        dict_1['student_score'] = items[1]
        student_list.append(dict_1)
        dict_1 = {'student_name':'','student_score':''}

    student_list = sorted(student_list, key=lambda d: d['student_score'], reverse=True)

    list_of_scores = []
    for items in student_list:
        list_of_scores.append(items['student_score'])
    
    second_highest = student_list[-2]
    second_highest_score = student_list[-2]['student_score']
    second_list = []

    if list_of_scores.count(second_highest_score) > 1:
     for items in student_list:
         if items['student_score'] == second_highest['student_score']:
             second_list.append(items['student_name'])

     for items in second_list:
         print(items)
    else:
        print(second_highest['student_name'])
    
    return ' '

In [33]:

python_students = [['Harry', 37.21], ['Tina', 37.2], ['Berry', 37.21],['Akriti', 41], ['Harsh', 39]]

In [34]:
second_highest_function(python_students)

Harry
Berry

' '

In [36]:
python_list_2 = [['Harsh', 20.0], ['Beria', 20.0], ['Varun', 19.0], ['Kakunami', 19.0], ['Vikas', 21.0]]

In [37]:
second_highest_function(python_list_2)

Varun
Kakunami

' '